{% for inline in inlines %}<fieldset data-inline-prefix="{{ inline.prefix }}" data-inline-min="{{ inline.minimum }}" data-inline-max="{{ inline.maximum }}"><legend>{{ inline.label }}</legend>
<input type="hidden" name="{{ inline.prefix }}-TOTAL_FORMS" value="{{ inline.total }}"><input type="hidden" name="{{ inline.prefix }}-INITIAL_FORMS" value="{{ inline.initial }}">
{% for error in inline.errors %}<p data-inline-error="{{ inline.prefix }}" data-error-code="{{ error.code }}">{{ error.message }}</p>{% endfor %}
<div data-inline-rows>{% for row in inline.rows %}{% include "inline_row.html" %}{% endfor %}</div>
{% if inline.can_add %}<template data-inline-empty>{% for row in inline.empty %}{% include "inline_row.html" %}{% endfor %}</template>
<button type="button" data-inline-add hidden>Add another item</button>{% endif %}
</fieldset>{% endfor %}
